{% extends 'home.html' %}

{% load my_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Блог</h2>

    </div>
    <div class="mb-3">
        <a class="btn btn-primary" href="{% url 'blog:blogpost_create' %}" role="button">Создать запись</a>
    </div>
    {% for object in object_list %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{ object|mymedia }}" class="fixed-img-size image-container" alt="{{ object.title }}">
                </div>
                <div class="col-md-9 d-flex flex-column">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>
                        <p class="text-muted mb-0">{{ object.created_at|date:"d.m.Y H.i" }}</p>

                    </div>
                    <div class="d-flex justify-content-between align-items-center px-3 py-2">
                        <div class="btn-group">
                            <a class="btn btn-outline-primary me-1" href="{% url 'blog:blogpost_detail' object.pk %}"
                               role="button">Читать</a>
                            <a class="btn btn-outline-warning me-1" href="{% url 'blog:blogpost_update' object.pk %}"
                               role="button">Редактировать</a>
                            <a class="btn btn-outline-danger" href="{% url 'blog:blogpost_confirm_delete' object.pk %}"
                               role="button">Удалить</a>
                        </div>
                        <p class="text-muted mb-0 small">Просмотров: {{ object.views_count }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}