{% extends 'home.html' %}

{% block content %}
    <div class="container mt-4 g-4">
        <h1 class="text-center">Восстановление пароля</h1>
        <p class="text-center">Введите ваш Email, чтобы получить новый пароль</p>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if messages %}
                    <div class="container mt-4">
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Восстановить пароль</button>
                </form>
                <p class="mt-3">
                    Вернуться на страницу <a href="{% url 'users:login' %}">входа</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}