{% extends 'home.html' %}
{% load my_tags %}
{% block content%}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-md-3 mb-4 g-4 text-center">
            {% for product in object_list %}
            <div class="col">

                <div class="card" style="width: 18rem;">
                    <div class="image-container">
                        <img src="{{ product.preview | mymedia }}" class="fixed-img-size" alt="{{ object.name }}">
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ product.name}}</p>
                        <p class="card-text">{{ product.description|slice:":100" }}</p>
                        {% for version in product.version_set.all %}
                        {% if version.is_active %}
                        <p class="card-text"> Версия: {{ version.version_number }}</p>
                        {% endif %}
                        {% endfor %}
                        <div class="btn-group d-flex justify-content-center mb-2">
                            <a class="btn btn-outline-primary me-1" href="{% url 'catalog:product_detail' product.pk %}"
                               role="button">Подробнее</a>
                            <a class="btn btn-outline-success" href="#" role="button">{{ product.price }}</a>
                        </div>
                        <div class="btn-group d-flex justify-content-center">
                            <a class="btn btn-outline-warning me-1" href="{% url 'catalog:product_edit' product.pk %}"
                               role="button">Редактировать</a>
                            <a class="btn btn-outline-danger" href="{% url 'catalog:product_delete' product.pk %}"
                               role="button">Удалить</a>
                        </div>
                    </div>

                </div>

            </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}